[submodule "zsh-autosuggestions"]
	path = zsh/.omz-geek/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions

[submodule "personal"]
	path = personal
	url = https://github.com/patheticGeek/dotfiles-personal
